<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssaw.DayEndProcessing.mapper.InventoryStatisticsMapper">
    <select id="selectSecuritiesInventory"
            resultType="com.ssaw.DayEndProcessing.entity.SecuritiesInventoryData" >
    select
        NVL(jy.securitiesid,si.securitiesid) as securitiesId,
            sum(nvl(si.securitiesNum,0))-sum(nvl(jy.newNum,0)) as todayNum,
            sum(nvl(si.total,0))-sum(nvl(jy.newNetRectipts,0)) as todayTotal,
            (case when  ((sum(nvl(si.securitiesNum,0))-sum(nvl(jy.newNum,0)))=0) then 0
            else   (sum(nvl(si.total,0))-sum(nvl(jy.newNetRectipts,0)))/(sum(nvl(si.securitiesNum,0))-sum(nvl(jy.newNum,0))) end )
             as unitPrice
            from (select * from securitiesInventory where DATETIME=to_char(to_date(#{dateTime},'yyyy-MM-dd')-1,'yyyy-MM-dd') and FUNDID=#{fundId}) si
             full join(select sum(nvl(num,0)*flag) as newNum,sum(nvl(netReceipts,0)*flag) as newNetRectipts,securitiesId from transactionData where DATETIME=#{dateTime} and FUNDID=#{fundId} group by securitiesId)  jy
                  on si.SECURITIESID=jy.SECURITIESID
                  group by si.securitiesId,jy.securitiesId
    </select>
    <select id="selectTaInventory" resultType="com.ssaw.DayEndProcessing.entity.TaInventoryData">
	SELECT
         sum(tatotal) AS taTotal,sum(tanum) AS taNum,fundId FROM

	(select tatotal,tanum,fundId from
    TAINVENTORY where fundId=#{fundId} and
    dateTime=to_char(to_date(#{dateTime},'yyyy-MM-dd')-1,'yyyy-MM-dd')
    UNION
    select sum(totalMoney*(case transactionType when 3 then -1 else 1 end)) as totalMoney,
    sum(fundNum*(case transactionType when 3 then -1 else 1 end)) AS fundNum,fundId
    from
    TATransaction WHERE
    DATETIME=#{dateTime}  AND fundId=#{fundId}  group by
    fundid) a
	GROUP BY a.fundId
-- 	版本2
-- 		SELECT
--         (nvl(tatotal,0)+NVL(totalMoney,0)) AS taTotal,(nvl(tanum,0)+nvl(fundNum,0))AS taNum,nvl(ta.fundId,a.FUNDID) as fundId FROM
--
-- 	(select tatotal,tanum,fundId from
--     TAINVENTORY where fundId='000899' and
--     datetime='2020-09-10') ta
--     full join
--     (select sum(totalMoney*(case transactionType when 3 then -1 else 1 end)) as totalMoney,
--     sum(fundNum*(case transactionType when 3 then -1 else 1 end)) AS fundNum,fundId
--     from
--     TATransaction WHERE
--     DATETIME='2020-09-11' AND fundId='000899' group by
--     FUNDID) a
-- 	  on a.FUNDID=ta.FUNDID ;
    </select>
    <select id="selectCashInventory" resultType="com.ssaw.DayEndProcessing.entity.CashInventoryData">
       select (nvl(CASHBLANCE,0) + nvl(bt.totalNum,0)) as cashTotal,nvl(bt.accountId,ci.accountId) as accountId from
        (select * from CASHINVENTORY where DATETIME=to_char(to_date(#{dateTime},'yyyy-MM-dd')-1,'yyyy-MM-dd') and FUNDID=#{fundId} ) ci
            full join
        (select accountId,sum(totalprice*flag) as totalNum,fundId from bankTreasurer where DBTIME=#{dateTime} and FUNDID=#{fundId}  group by accountId) bt
        on ci.ACCOUNTID=bt.ACCOUNTID and ci.fundId=bt.fundId
    </select>
    <select id="selectSecuritiesClosedPayInventory"
            resultType="com.ssaw.DayEndProcessing.entity.SecuritiesClosedPayInventoryData">
        select nvl(ns.securitiesid,se.securitiesid)as securitiesid,nvl(ns.totalPrice,0)+nvl(se.amount,0) as
		total,nvl(se.flag,ns.flag) as flag
        from
        (select * from SECURITIESCLOSEDPAYINVENTORY where fundid=#{fundId}
        and securitiesType = 3  and DATETIME=to_char(to_date(#{dateTime},'yyyy-MM-dd')-1,'yyyy-MM-dd')) ns
        full join
        (select sum(nvl(amount,0)) as amount,securitiesid,flag from
        securitiesClosedPay where fundId=#{fundId} and serviceType=3 and
        dateTime=#{dateTime} group by securitiesid,amount ,flag) se
		on ns.securitiesid = se.securitiesid
    </select>
    <select id="selectCashClosedPayInventory"
            resultType="com.ssaw.DayEndProcessing.entity.CashClosedPayInventoryData">
        select nvl(xj.serviceType,kc.businessType) as BUSINESSTYPE,(NVL(totalMoney,0)+nvl(xj.tocal,0)) as cashTotal,nvl(kc.INITIALSIGNS,xj.FLAG) as flag,nvl(xj.accountId,kc.accountId) as accountId
        from
        (select * from cashClosedPayInventory where FUNDID=#{fundId} and businessDate=to_char(to_date(#{dateTime},'yyyy-MM-dd')-1,'yyyy-MM-dd')) kc
        full join
        (select serviceType,dateTime,ACCOUNTID,sum(nvl(amount,0)*nvl(FLAG,0)) as tocal,FLAG
        from (select * from cashClosedPay where DATETIME=#{dateTime} and fundId=#{fundId}) group by serviceType,DATETIME,ACCOUNTID,FLAG) xj on xj.ACCOUNTID=kc.ACCOUNTID
    </select>

</mapper>