<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssaw.DayEndProcessing.mapper.ValueStatisticsMapper">
      <insert id="insertValueStatistics" parameterType="com.ssaw.DayEndProcessing.entity.ValueStatistics">
            insert into valueStatistics values (#{valueStatisticsDate},#{valueStatisticsId},#{projectId},#{projectName},#{projectCode},#{quantity},#{peice},#{cost},#{marketValue},#{valuation},#{projectFatherId},#{relation},#{appreciationSum},#{liabilities},#{propertySum},#{propertyNetWorth},#{unitNetWorth})

      </insert>
      <delete id="deleteValueStatistics" parameterType="string">
        delete  from valueStatistics where valueStatisticsDate=#{valueStatisticsDate}

      </delete>

    <select id="selectValueStatistics" parameterType="com.ssaw.DayEndProcessing.entity.ValueStatistics" resultType="com.ssaw.DayEndProcessing.entity.ValueStatistics">
        select  valueStatisticsDate,valueStatisticsId,projectId,projectName,projectCode,quantity,peice,cost,marketValue,valuation,projectFatherId,relation,appreciationSum,liabilities,propertySum,propertyNetWorth,unitNetWorth from valueStatistics where valueStatisticsDate=#{valueStatisticsDate}

    </select>


</mapper>