<!DOCTYPE html>
<html>
<head>
    <title>现金账户页面</title>
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<!--<meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />-->
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="../css/font.css">
    <link rel="stylesheet" href="../css/xadmin.css">
    <link rel="stylesheet" href="../css/theme9.css">
    <script src="../lib/layuimini/lib/layui-v2.5.5/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="../js/xadmin.js"></script>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>

    <link rel="stylesheet" href="../lib/layui/css/layui.css">

    <!--工具条-->
    <script type="text/html" id="userToolBar">
        <div style="float:right">
            <button class="layui-btn layui-btn-normal layui-btn layui-btn-sm" lay-event="add"><i
                    class="layui-icon">&#xe654;</i>添加账户信息</button>
            <button class="layui-btn layui-btn-danger layui-btn layui-btn-sm" lay-event="deleteAll"><i
                    class="layui-icon">&#xe640;</i>批量删除</button>
        </div>
        <br/>
        <!--搜索条件-->
        <form class="layui-form layui-col-space5">
            <div class="layui-inline layui-show-xs-block">
                <label class="layui-form-label layui-bg-green" style="width: 110px;text-align: center">账户名称</label>
            <div class="layui-inline layui-show-xs-block">
                <input class="layui-input"  autocomplete="off" placeholder="请输入账户名" id="accountName">
            </div>

            </div>
            <div class="layui-inline layui-show-xs-block">
                <label class="layui-form-label layui-bg-green" style="width: 110px;text-align: center">银行名称</label>
            <div class="layui-inline layui-show-xs-block"  style="text-align: center" >
                <select id="blankName">
                    <option value="">请选择</option>
                    <option value="中国银行">中国银行</option>
                    <option value="建设银行">建设银行</option>
                    <option value="工商银行">工商银行</option>
                    <option value="农业银行">农业银行</option>
                </select>
            </div>
            </div>
            <div class="layui-inline layui-show-xs-block">
                <button class="layui-btn"  lay-submit="" lay-event="search" lay-filter="sreach"><i class="layui-icon">&#xe615;</i>搜索</button>
            </div>
        </form>
    </script>


    <script type="text/javascript">


    </script>
</head>
<body style="overflow: auto; background-color: white;"
      class="layui-view-body layui-content">
<div>
    <!--表格-->
    <table id="userTable" lay-filter="userTable"></table>
    <!--工具条-->
    <div style="display: none;" id="barDemo">
        <a class="layui-btn layui-btn-xs" lay-event="edit"><i
                class="layui-icon">&#xe642;</i>编辑</a>
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"><i
                class="layui-icon">&#xe640;</i>删除</a>
    </div>
</div>
<!--增加的div内容-->
<div id="addContent"
     style="display: none; height: 100%; height: 100%; text-align: center;">
    <form id="addform" lay-filter="addform"
          class="layui-form layui-form-pane"
          style="margin: 30px auto; display: inline-block;">
        <div>
            <div class="layui-inline layui-show-xs-block">
                <label class="layui-form-label layui-bg-green" style="width: 110px;text-align: center">银行卡号</label>
                <div class="layui-inline layui-show-xs-block">
                    <input class="layui-input"  autocomplete="off" placeholder="请输入银行卡号" name="blankCardCode">

                </div>
            </div>
            <div class="layui-inline layui-show-xs-block">
                <label class="layui-form-label layui-bg-green" style="width: 110px;text-align: center">账户名称</label>
            <div class="layui-inline layui-show-xs-block">
                <input class="layui-input"  autocomplete="off" placeholder="请输入账户名称" name="accountName">
            </div>
            </div>
        </div>
        <br>
        <div>
            <div class="layui-inline layui-show-xs-block">
                <label class="layui-form-label layui-bg-green" style="width: 110px;text-align: center">银行名称</label>
                <div class="layui-inline layui-show-xs-block">
                    <input class="layui-input"  autocomplete="off" placeholder="请输入银行名称" name="blankName" >
                </div>
            </div>
            <div class="layui-inline layui-show-xs-block">
                <label class="layui-form-label layui-bg-green" style="width: 110px;text-align: center">存储类型</label>
                <div class="layui-inline layui-show-xs-block" style="width: 184px">
                    <select name="deposit">
                        <option>请选择存款类型</option>
                        <option value="1">活期</option>
                        <option value="2">定期</option>
                    </select>
                </div>
            </div>
        </div>
        <br>
        <div>
            <div class="layui-inline layui-show-xs-block">
                <label class="layui-form-label layui-bg-green" style="width: 110px;text-align: center">卡号利率</label>
                <div class="layui-inline layui-show-xs-block">
                    <input class="layui-input"  autocomplete="off" placeholder="请输入利率%" name="cardRate">
                </div>
            </div>
            <div class="layui-inline layui-show-xs-block">
                <label class="layui-form-label layui-bg-green" style="width: 110px;text-align: center">计息期间</label>
                <div class="layui-inline layui-show-xs-block" style="width: 184px">
                    <select name="procisionDays">
                        <option>请选择计息期间</option>
                        <option value="1">360天</option>
                        <option value="2">365天</option>
                        <option value="3">366天</option>
                    </select>
                </div>
            </div>
        </div>
        <br>
        <div>
            <div class="layui-inline layui-show-xs-block">
                <label class="layui-form-label layui-bg-green" style="width: 110px;text-align: center">开户时间</label>
            <div class="layui-inline layui-show-xs-block">
                <input class="layui-input"  autocomplete="off" placeholder="请选择日期" name="openTime" id="addopen">
            </div>
            </div>
            <div class="layui-inline layui-show-xs-block">
                <label class="layui-form-label layui-bg-green" style="width: 110px;text-align: center">结束时间</label>
                <div class="layui-inline layui-show-xs-block">
                    <input class="layui-input"  autocomplete="off" placeholder="请选择日期" name="endTime" id="addend">
                </div>
            </div>
        </div>
        <br>
        <div class="layui-inline layui-show-xs-block">
            <label class="layui-form-label layui-bg-green" style="text-align: center; width: 130px; height: 100px; line-height: 81px">备注</label>
            <div class="layui-inline layui-show-xs-block">
                <textarea name="accountDesc" required lay-verify="required" placeholder="备注" class="layui-textarea" style="width: 467px"></textarea>
            </div>
        </div>
        <div style="position: absolute; bottom: 0px; margin-left: 220px">
            <button class="layui-btn" lay-submit="" lay-filter="addsubmit">
                <i class="layui-icon">&#x1005;</i>添加
            </button>
            <button class="layui-btn layui-bg-red cancel" type="button" onclick="myclose()">
                <i class="layui-icon">&#x1006;</i>取消
            </button>
        </div>
    </form>
</div>

<!--修改的div内容-->
<div id="editContent"
     style="display: none; height: 100%; height: 100%; text-align: center;">
    <form id="editform" lay-filter="editform"
          class="layui-form layui-form-pane"
          style="margin: 30px auto; display: inline-block;">
        <div>
            <div class="layui-inline layui-show-xs-block">
                <label class="layui-form-label layui-bg-green" style="width: 110px;text-align: center">银行卡号</label>
                <div class="layui-inline layui-show-xs-block">
                    <input class="layui-input"  autocomplete="off" placeholder="请输入银行卡号" name="blankCardCode"
                           readonly="readonly">
                    <input name="accountId" type="hidden">
                </div>
            </div>
            <div class="layui-inline layui-show-xs-block">
                <label class="layui-form-label layui-bg-green" style="width: 110px;text-align: center">账户名称</label>
                <div class="layui-inline layui-show-xs-block">
                    <input class="layui-input"  autocomplete="off" placeholder="请输入账户名称"
                           name="accountName">
                </div>
            </div>
        </div>
        <br>
        <div>
            <div class="layui-inline layui-show-xs-block">
                <label class="layui-form-label layui-bg-green" style="width: 110px;text-align: center">银行名称</label>
                <div class="layui-inline layui-show-xs-block">
                    <input  class="layui-input"  autocomplete="off" placeholder="请输入银行名称" name="blankName"
                           readonly="readonly">
                </div>
            </div>
            <div class="layui-inline layui-show-xs-block">
                <label class="layui-form-label layui-bg-green" style="width: 110px;text-align: center">存储类型</label>
                <div class="layui-inline layui-show-xs-block" style="width: 184px">
                    <select name="deposit">
                        <option>请选择存款类型</option>
                        <option value="1">活期</option>
                        <option value="2">定期</option>
                    </select>
                </div>
            </div>
        </div>
        <br>
        <div>
            <div class="layui-inline layui-show-xs-block">
                <label class="layui-form-label layui-bg-green" style="width: 110px;text-align: center">卡号利率</label>
                <div class="layui-inline layui-show-xs-block">
                    <input class="layui-input"  autocomplete="off" placeholder="请输入利率%" name="cardRate">
                </div>
            </div>
            <div class="layui-inline layui-show-xs-block">
                <label class="layui-form-label layui-bg-green" style="width: 110px;text-align: center">计息期间</label>
                <div class="layui-inline layui-show-xs-block" style="width: 184px">
                    <select name="procisionDays">
                        <option>请选择计息期间</option>
                        <option value="1">360天</option>
                        <option value="2">365天</option>
                        <option value="3">366天</option>
                    </select>
                </div>
            </div>
        </div>
        <br>
        <div>
            <div class="layui-inline layui-show-xs-block">
                <label class="layui-form-label layui-bg-green" style="width: 110px;text-align: center">开户时间</label>
                <div class="layui-inline layui-show-xs-block">
                    <input class="layui-input"  autocomplete="off" placeholder="请输入开户日期" name="openTime" id="editopen"
                           disabled="disabled">
                </div>
            </div>
            <div class="layui-inline layui-show-xs-block">
                <label class="layui-form-label layui-bg-green" style="width: 110px;text-align: center">结束时间</label>
                <div class="layui-inline layui-show-xs-block">
                    <input class="layui-input"  autocomplete="off" placeholder="请输入开户日期"
                           name="endTime" id="editend"  disabled="disabled">
                </div>
            </div>
        </div>
        <br>
        <div class="layui-inline layui-show-xs-block">
            <label class="layui-form-label layui-bg-green" style="text-align: center; width: 130px; height: 100px; line-height: 81px">备注</label>
            <div class="layui-inline layui-show-xs-block">
                <textarea name="accountDesc" required lay-verify="required" placeholder="备注" class="layui-textarea" style="width: 467px"></textarea>
            </div>
        </div>
        <div style="position: absolute; bottom: 20px; margin-left: 220px">
            <button class="layui-btn" lay-submit="" lay-filter="editsubmit">
                <i class="layui-icon">&#x1005;</i>修改
            </button>
            <button class="layui-btn layui-bg-red cancel" type="button" onclick="myclose()">
                <i class="layui-icon">&#x1006;</i>取消
            </button>
        </div>
    </form>
</div>
<script src="../js/account.js"></script>
<script type="text/javascript">

</script>
</body>
</html>