<!--syt
1.0-->
<!DOCTYPE html>
<html>
<head>
    <title>layUi入门</title>
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="../css/font.css">
    <link rel="stylesheet" href="../css/xadmin.css">
    <link rel="stylesheet" href="../css/theme9.css">
    <script src="../lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="../js/xadmin.js"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]-->
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>

    <link rel="stylesheet" href="../lib/layui/css/layui.css">


    <script src="../lib/layui/layui.js"></script>
    <!--工具条-->
    <script type="text/html" id="cashInventoryToolBar">
        <div style="float:right">
            <input type="checkbox" lay-event="initialSigns" title="是否为期初数据" lay-filter="initialSigns">&nbsp&nbsp&nbsp&nbsp
            <button class="layui-btn layui-btn-normal layui-btn layui-btn-sm" lay-event="add" id="addbtn"><i
                    class="layui-icon">&#xe654;</i>添加数据</button>
            <button class="layui-btn layui-btn-danger layui-btn layui-btn-sm" lay-event="deleteAll"><i
                    class="layui-icon">&#xe640;</i>批量删除</button>
        </div>
        <br/>
        <form class="layui-form layui-col-space5">
            <div class="layui-inline layui-show-xs-block">
                <label class="layui-form-label layui-bg-green" style="width: 110px;text-align: center">账户名称</label>
            </div>
            <div class="layui-inline layui-show-xs-block">
                <input class="layui-input"  autocomplete="off" placeholder="账户名称" id="accountId">
            </div>
            <div class="layui-inline layui-show-xs-block">
                <label class="layui-form-label layui-bg-green" style="width: 110px;text-align: center">统计日期</label>
            </div>
            <div class="layui-inline layui-show-xs-block">
                <input class="layui-input"  autocomplete="off" placeholder="请输入统计日期"  id="dateTime">
            </div>
            <div class="layui-inline layui-show-xs-block">
                <a class="layui-btn"  lay-event="search" lay-filter="sreach"><i class="layui-icon">&#xe615;</i>搜索</a>
            </div>
        </form>
    </script>


    <script type="text/javascript">

        layui.use(['element', 'form', 'table', 'layer', 'laydate'], function () {
            var layer = layui.layer;
            var $ = layui.$;
            var table = layui.table;
            var form = layui.form;
            var formSelects = layui.formSelects;
            var laydate = layui.laydate;

            //执行一个laydate实例
            //时间下拉表
            laydate.render({
                elem: '#dateTime' //指定元素
            });
            laydate.render({
                elem: '#dateTime1' //指定元素
            });
            laydate.render({
                elem: '#dateTime2' //指定元素
            });
            //数据表格
            table.render({
                elem: '#cashInventoryTable',
                url: '../cashInventory/select',
                count:0,
                page: true,
                height: 498,
                toolbar: '#cashInventoryToolBar',//显示在表头的工具条
                minLength:80,
                cols: [
                    [ //表头
                        {type: 'checkbox', fixed: 'left'}
                        ,{field: 'cashInventoryId', title: '现金库存ID'}
                        ,{field: 'securitiesNum', title: '证券数量'}
                        ,{field: 'accountId', title: '账户ID'}
                        ,{field: 'accountName', title: '账户名'}
                        ,{field: 'fundId', title: '基金ID'}
                        ,{field: 'cashBlance', title: '现金余额'}
                        ,{field: 'dateTime', title: '统计时间'}
                        ,{field: 'right', title: '操作', toolbar:'#barDemo'}
                    ]
                ]
            });
            //期初数据选中
            form.on('checkbox(initialSigns)', function(data){
                var addbtn = document.getElementById('addbtn');
                if(data.elem.checked){
                    addbtn.classList.remove("layui-btn-disabled")
                    addbtn.setAttribute("lay-event","add")

                }else{
                    addbtn.classList.add("layui-btn-disabled")
                    addbtn.setAttribute("lay-event","")
                }
            });
            //新增提交
            form.on('submit(addsubmit)', function(data){
                var formData=$('#addform').serialize();
                alert("增加");
                $.post("../cashInventory/insert",formData,function(msg){
                    if(msg>0){
                        table.reload('cashInventoryTable');
                        layer.closeAll();
                        layer.msg('添加成功',{
                            title : '提示',
                            area : [ '200px',
                                '140px' ],
                            time : 0,
                            btn : [ '知道了' ]
                        });
                    }else{
                        layer.closeAll();
                        layer.msg('添加失败',{
                            title : '提示',
                            area : [ '200px',
                                '140px' ],
                            time : 0,
                            btn : [ '知道了' ]
                        });
                    }
                });
                return false;
            });
            //修改提交
            form.on('submit(editsubmit)', function(data){
                var formData=$('#editform').serialize();
                alert("forData"+formData);
                $.post("../cashInventory/update",formData,function(msg){
                    if(msg>0){
                        table.reload('cashInventoryTable');
                        layer.closeAll();
                        layer.msg('修改成功',{
                            title : '提示',
                            area : [ '200px',
                                '140px' ],
                            time : 0,
                            btn : [ '知道了' ]
                        });
                    }else{
                        layer.closeAll();
                        layer.msg('修改失败',{
                            title : '提示',
                            area : [ '200px',
                                '140px' ],
                            time : 0,
                            btn : [ '知道了' ]
                        });
                    }
                });
                return false;
            });

            //给工具条的按钮添加事件
            table.on('toolbar(cashInventoryTable)',function (obj) {
                //获取选中复选框的对象，
                var checkStatus=table.checkStatus(obj.config.id);//得到表格选中行的ID
                switch (obj.event) {
                    case 'add':
                        var index=layer.open({
                            type: 1,
                            title: '添加数据信息',
                            closeBtn: 1,
                            move:false,
                            content:$("#addContent"),
                            btn:[]
                        });

                        form.render();
                        //全屏
                        layer.full(index);
                        break;
                    case 'search':
                        // alert("搜索");
                        var accountId5= $("#accountId").val();
                        var dateTime5= $("#dateTime").val();
                        alert(dateTime5);
                        //表格的重新加载事件
                        table.reload('cashInventoryTable',{
                            method: 'post'
                            , where: {
                                'accountId': accountId5,
                                'dateTime': dateTime5
                            }
                            , page: {
                                curr: 1
                            }
                        });
                        break;
                    case 'deleteAll':
                        var data = checkStatus.data;
                           layer.alert(JSON.stringify(data));
                        if(data.length==0){
                            layer.msg("请至少选择一条数据",)
                        }else
                        {
                            var ids=[];
                            for (var i = 0; i <data.length; i++) {
                                ids.push(data[i].cashInventoryId);
                            }
                            layer.confirm('真的删除行么',{icon: 2}, function(index){
                                layer.close(index);
                                $.post("../cashInventory/delete", {cashInventoryId:ids.join(',')},function(msg){
                                    table.reload('cashInventoryTable');
                                    layer.msg('删除'+checkStatus.data.length+'条记录', {
                                        title:'提示',
                                        area: ['200px', '140px'],
                                        time: 0,
                                        btn: ['知道了']
                                    });
                                });
                            });
                        }
                        break;
                }
            });
            //给表格编辑，删除按钮添加点击事件
            table.on('tool(cashInventoryTable)', function(obj) {
                var data = obj.data;//得到删除行整行的数据
                alert(data.cashInventoryId);
                if (obj.event === 'del') {
                    layer.confirm('真的删除行么',{icon: 2}, function(index){
                        layer.close(index);
                        $.post("../cashInventory/delete", {cashInventoryId:data.cashInventoryId+""},function(msg){
                            table.reload('cashInventoryTable');
                        });

                    });
                } else if (obj.event === 'edit') {
                    alert(JSON.stringify(data));

                    form.val('editform',$.parseJSON(JSON.stringify(data)));
                    var index = layer.open({
                        type: 1,
                        title: '修改现金库存',
                        closeBtn: 1,
                        move:false,
                        area: ['500px', '400px'],
                        content:$('#editContent')
                    });
                    layer.full(index);
                    form.render();

                };
            })

        });
        function myclose() {
            layer.closeAll();
        }
    </script>
</head>
<body style="overflow: auto; background-color: white;"
      class="layui-view-body layui-content">
<div>
    <!--表格-->
    <table id="cashInventoryTable" lay-filter="cashInventoryTable"></table>
    <!--工具条-->
    <div style="display: none;" id="barDemo">
        <a class="layui-btn layui-btn-xs" lay-event="edit"><i
                class="layui-icon">&#xe642;</i>编辑</a>
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"><i
                class="layui-icon">&#xe640;</i>删除</a>

    </div>
</div>
<!--增加的div内容-->
<div id="addContent" style="display: none; height: 100%; width:100%; text-align: center">
    <form id="addform" lay-filter="addform" class="layui-form layui-col-space5" style="margin: 50px auto; display: inline-block;">
        <div style="float: left;">
            <div class="layui-inline layui-show-xs-block" style="text-align: center;">
                <label class="layui-form-label layui-bg-green" style="text-align: center">日期</label>
                <div class="layui-inline layui-show-xs-block">
                    <input type="text"  class="layui-input"  autocomplete="off" placeholder="日期" name="dateTime" id="dateTime1">
                </div>
            </div>
            <div class="layui-inline layui-show-xs-block">
                <label class="layui-form-label layui-bg-green" style="text-align: center">现金账户</label>
                <div class="layui-inline layui-show-xs-block">
                    <input type="text"  class="layui-input" placeholder="现金账户" name="accountId" id="accountId1">
                </div>
            </div>
        </div>
        <br/>
        <br/>
        <br/>
        <br/>
        <div class="layui-inline layui-show-xs-block" style="float: left">
            <label class="layui-form-label layui-bg-green" style="text-align: center">余额</label>
            <div class="layui-inline layui-show-xs-block">
                <input type="text" class="layui-input" placeholder="余额" name="cashBlance" id="cashBlance1">
            </div>
        </div>
        <br>
        <br>
        <br/>
        <br/>
        <div class="layui-inline layui-show-xs-block">
            <label class="layui-form-label layui-bg-green" style="text-align: center; width: 130px; height: 81px; line-height: 81px">备注</label>
            <div class="layui-inline layui-show-xs-block">
                <textarea name="cashInventoryDesc" placeholder="请输入" class="layui-textarea" style="width: 467px"></textarea>
            </div>
        </div>



        <div style="position: absolute; bottom: 0px; left: 45%;">
            <button class="layui-btn" lay-submit="" lay-filter="addsubmit">
                <i class="layui-icon">&#x1005;</i>添加
            </button>
            <button class="layui-btn layui-bg-red cancel" type="button" onclick="myclose()">
                <i class="layui-icon">&#x1006;</i>取消
            </button>
        </div>
    </form>
</div>

<!--修改的div内容-->
<div id="editContent"
     style="display: none; height: 100%; height: 100%; text-align: center;">
    <form id="editform" lay-filter="editform"
          class="layui-form layui-form-pane"
          style="margin: 30px auto; display: inline-block;">
        <div style="float: left;">
            <div class="layui-inline layui-show-xs-block" style="text-align: center;">
                <label class="layui-form-label layui-bg-green" style="text-align: center">日期</label>
                <div class="layui-inline layui-show-xs-block">
                    <input class="layui-input"  autocomplete="off" placeholder="日期" name="dateTime" id="dateTime2" disabled>
                </div>
            </div>
            <div class="layui-inline layui-show-xs-block">
                <label class="layui-form-label layui-bg-green" style="text-align: center">现金账户ID</label>
                <div class="layui-inline layui-show-xs-block">
                    <input  type="text" class="layui-input" placeholder="现金账户ID" name="accountId"  readonly>
                </div>
            </div>
        </div>
        <br/>
        <br/>
        <br/>
        <br/>
        <div style="float: left;">
            <div class="layui-inline layui-show-xs-block" style="text-align: center;">
                <label class="layui-form-label layui-bg-green" style="text-align: center">账户名称</label>
                <div class="layui-inline layui-show-xs-block">
                    <input  type="text" class="layui-input" readonly autocomplete="off" placeholder="账户名称" name="accountName" id="accountName">
                </div>
            </div>
            <div class="layui-inline layui-show-xs-block">
                <label class="layui-form-label layui-bg-green" style="text-align: center">余额</label>
                <div class="layui-inline layui-show-xs-block">
                    <input  type="text" class="layui-input" placeholder="余额" name="cashBlance" id="cashBlance" onkeyup = "if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}"onafterpaste = "if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'0')}else{this.value=this.value.replace(/\D/g,'')}">
                </div>
            </div>
        </div>
        <br/>
        <br/>
        <br/>
        <br/>
        <div class="layui-inline layui-show-xs-block">
            <label class="layui-form-label layui-bg-green" style="text-align: center; width: 130px; height: 101px; line-height: 81px">备注</label>
            <div class="layui-inline layui-show-xs-block">
                <textarea name="cashInventoryDesc"  placeholder="请输入" class="layui-textarea" style="width: 467px"></textarea>
            </div>
<!--         required lay-verify="required"   -->
        </div>
        <div style="position: absolute; bottom: 0px; left: 45%;">
            <button class="layui-btn" lay-submit="" lay-filter="editsubmit">
                <i class="layui-icon">&#x1005;</i>添加
            </button>
            <button class="layui-btn layui-bg-red cancel" type="button" onclick="myclose()">
                <i class="layui-icon">&#x1006;</i>取消
            </button>
        </div>
    </form>
</div>


</body>
</html>

