<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>menu</title>
    <link rel="stylesheet" href="../lib/layuimini/lib/layui-v2.5.5/css/layui.css" media="all">
    <link rel="stylesheet" href="../lib/layuimini/css/public.css" media="all">
    <style>
        .layui-btn:not(.layui-btn-lg ):not(.layui-btn-sm):not(.layui-btn-xs) {
            height: 34px;
            line-height: 34px;
            padding: 0 8px;
        }
    </style>
</head>
<body>
<div class="layuimini-container">
    <div class="layuimini-main">
        <div id="toolbarDemo">
            <div>
                <form id="searchform" lay-filter="searchform"
                      class="layui-form layui-form-pane">
                    <div class="layui-form">
                        <div class="layui-form-item">
                            <label style="height: 32px;" class="layui-form-label">统计日期</label>
                            <div class="layui-inline">
                                <input type="text" style="height: 32px;" class="layui-input" id="test12" name = "datetime">
                            </div>
                            <div class="layui-inline">
                                <button type="button"
                                        class="layui-btn layui-btn-sm search" id="statisticsButton" >
                                    <i class="layui-icon">&#xe615;</i>统计
                                </button>
                                <button type="button" lay-event="search1"
                                        class="layui-btn layui-btn-sm" id="statisticsButton2">
                                    <i class="layui-icon">&#xe615;</i>查询
                                </button>

                            </div>
                        </div>
                    </div>
                </form>
            </div>

    </div>
        <input type="hidden" id="fundId" name="fundId" th:value="${session.fundId}">
        <input type="hidden" id="accountId" name="accountId" th:value="${session.accountId}">
        <div>
            <div class="layui-btn-group">
                <button class="layui-btn" id="btn-expand">全部展开</button>
                <button class="layui-btn layui-btn-normal" id="btn-fold">全部折叠</button>
            </div>
            <table id="munu-table" class="layui-table" lay-filter="munu-table"></table>
        </div>
        <script type="text/html" id="toolbarDemo2">
            <div class="layui-btn-container">

            </div>
        </script>
 </div>
</div>



</body>
</html>
<script src="../lib/layuimini/lib/layui-v2.5.5/layui.js" charset="utf-8"></script>
<script src="../lib/layuimini/js/lay-config.js?v=1.0.4" charset="utf-8"></script>
<script>
    layui.use(['table', 'treetable','laydate'], function () {
        var $ = layui.jquery;
        var table = layui.table;
        var treetable = layui.treetable;
        var dates = layui.laydate;
        dates.render({
            elem: '#test12',
            type: 'date' ,//默认，可不填
            value: new Date()//获取当前时间
        });


        // 渲染表格
        layer.load(2);
        treetable.render({
            treeColIndex: 1,
            treeSpid: -1,
            treeIdName: 'projectId',
            treePidName: 'projectFatherId',
            toolbar: '#toolbarDemo2',
            defaultToolbar: ['filter', 'exports', 'print'],
            elem: '#munu-table',
            // url: '../lib/layuimini/api/test.json',
            url: '../ValueStatistics/selectValueStatistics?valueStatisticsDate='+$('#test12').val(),
            data:{
                'fundId':$('#fundId').val(),
                'accountId':$('#accountId').val()
            },
            page: false,
            cols: [
                [
                    {type: 'checkbox'},
                    {field: 'projectName', minWidth: 150, align: 'left', title: '项目名称'},
                    {field: 'projectCode', width: 150, align: 'center',title: '项目代码'},
                    {field: 'quantityint', width: 150, align: 'center',title: '股数'},
                    {field: 'peice', width: 150, align: 'center',title: '行情'},
                    {field: 'cost', width: 150, align: 'center',title: '成本'},
                    {field: 'marketValue', width: 150, align: 'center',title: '市值'},
                    {field: 'valuation', width: 150, align: 'center',title: '估值增值'}

                ]
            ],
            done: function () {
                layer.closeAll('loading');
            }
        });

        $('#btn-expand').click(function () {
            treetable.expandAll('#munu-table');
        });

        $('#btn-fold').click(function () {
            treetable.foldAll('#munu-table');
        });
        $('#statisticsButton').click(function(){
            treetable.render({
                treeColIndex: 1,
                treeSpid: -1,
                treeIdName: 'projectId',
                treePidName: 'projectFatherId',
                toolbar: '#toolbarDemo2',
                defaultToolbar: ['filter', 'exports', 'print'],
                elem: '#munu-table',
                // url: '../lib/layuimini/api/test.json',
                url: '../ValueStatistics/insertValueStatistics?valueStatisticsDate='+$('#test12').val(),
                data:'fundId='+$('#fundId').val(),
                page: false,
                cols: [
                    [
                        {type: 'checkbox'},
                        {field: 'projectName', minWidth: 150, align: 'left', title: '项目名称'},
                        {field: 'projectCode', width: 150, align: 'center',title: '项目代码'},
                        {field: 'quantityint', width: 150, align: 'center',title: '股数'},
                        {field: 'peice', width: 150, align: 'center',title: '行情'},
                        {field: 'cost', width: 150, align: 'center',title: '成本'},
                        {field: 'marketValue', width: 150, align: 'center',title: '市值'},
                        {field: 'valuation', width: 150, align: 'center',title: '估值增值'}

                    ]
                ],
                done: function () {
                    layer.closeAll('loading');
                }
            });
        })
        $('#statisticsButton2').click(function(){
            treetable.render({
                treeColIndex: 1,
                treeSpid: -1,
                treeIdName: 'projectId',
                treePidName: 'projectFatherId',
                toolbar: '#toolbarDemo2',
                defaultToolbar: ['filter', 'exports', 'print'],
                elem: '#munu-table',
                // url: '../lib/layuimini/api/test.json',
                url: '../ValueStatistics/selectValueStatistics?valueStatisticsDate='+$('#test12').val(),
                data:'fundId='+$('#fundId').val(),
                page: false,
                cols: [
                    [
                        {type: 'checkbox'},
                        {field: 'projectName', minWidth: 150, align: 'left', title: '项目名称'},
                        {field: 'projectCode', width: 150, align: 'center',title: '项目代码'},
                        {field: 'quantityint', width: 150, align: 'center',title: '股数'},
                        {field: 'peice', width: 150, align: 'center',title: '行情'},
                        {field: 'cost', width: 150, align: 'center',title: '成本'},
                        {field: 'marketValue', width: 150, align: 'center',title: '市值'},
                        {field: 'valuation', width: 150, align: 'center',title: '估值增值'}

                    ]
                ],
                done: function () {
                    layer.closeAll('loading');
                }
            });
        })

    });
</script>