<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssaw.BusinessData.mapper.EquityDataMapper">
    <!--增加-->
    <insert id="insertTransactionData">
        insert into TransactionData values(#{equityId},#{dateTime},#{securityId},#{securityName},#{equitiesRecord},#{equitiesExright},#{receivedDate},#{equitiesType},#{proportion},#{disposeStatus})
    </insert>
    <!--修改-->
    <update id="updateTransactionData">
        update TransactionData set dateTime=#{dateTime},securityId=#{securityId},securityName=#{securityName},equitiesRecord=#{equitiesRecord},equitiesExright=#{equitiesExright},receivedDate=#{receivedDate},equitiesType=#{equitiesType},proportion=#{proportion},disposeStatus=#{disposeStatus} where equityId=#{equityId}
    </update>
    <!--删除-->
    <delete id="deleteTransactionData">
        delete from TransactionData where equityId=#{equityId}
    </delete>
    <!--查询-->
    <select id="selectTransactionData" resultType="com.ssaw.BusinessData.entity.EquityData">
        select * from TransactionData
    </select>
</mapper>