<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssaw.BusinessData.mapper.MarketMapper">
   <insert id="insertMarket" parameterType="int">
      insert into market values (#{marketId},#{securitiesId},#{securitiesName},#{dateTime},#{openPrice},#{closingPrice},#{desc})
   </insert>
   <update id="updateMarket" parameterType="int">
      update market set securitiesId=#{securitiesId},securitiesName=#{securitiesName},dateTime=#{dateTime},openPrice=#{openPrice},closingPrice=#{closingPrice},desc=#{desc} where marketId=#{marketId}
   </update>
   <delete id="deleteMarket" parameterType="int">
      delete from market where marketId=#{marketId}
   </delete>
   <select id="selectMarket" resultType="com.ssaw.BusinessData.entity.Market">
      select * from market
   </select>
</mapper>