<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>layui在线调试</title>
    <link rel="stylesheet" href="../static/lib/layui/css" media="all">
    <link rel="stylesheet" href="../static/css/xadmin.css">
    <link rel="stylesheet" href="../static/css/theme9.css">
    <script src="../static/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="../js/xadmin.js"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>-->
      <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
      <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
</head>
<body>

<table class="layui-hide" id="demo" lay-filter="test"></table>

<script type="text/html" id="barDemo">
<a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
<a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<script type="text/html" id="toolbarDemo">
<div style="float: right">
    <button class="layui-btn layui-btn-sm">导入上海行情</button>
    <button class="layui-btn layui-btn-sm">导入深圳行情</button>
    <button class="layui-btn layui-btn-sm layui-btn-normal" lay-event="add">
        <i class="layui-icon">&#xe654;</i>添加行情</button>
    <button class="layui-btn layui-btn-sm layui-btn-danger">
        <i class="layui-icon">&#xe640;</i>批量删除</button>
</div>
<form class="layui-form layui-col-space5">
    <div class="layui-inline layui-show-xs-block">
        <label class="layui-form-label layui-bg-green"
               style="width: 100px;text-align: center;float: left">证券编号</label>
        <div class="layui-inline layui-show-xs-block" style="float: left">
            <select name="cateid">

            </select>
        </div>
    </div>

    <div class="layui-inline layui-show-xs-block">
        <label class="layui-form-label layui-bg-green"
               style="width: 110px;text-align: center">日期</label>
        <div class="layui-inline layui-show-xs-block">
            <input class="layui-input"  autocomplete="off" placeholder="请输入库存日期" name="endTime" id="endTime">
        </div>
    </div>

    <div class="layui-inline layui-show-xs-block">
        <button class="layui-btn"  lay-submit="" lay-filter="sreach"><i class="layui-icon">&#xe615;</i>搜索</button>
    </div>
</form>
</script>


<script type="text/javascript">
layui.use(['laydate', 'laypage','layer', 'table','form'], function(){
    var laydate = layui.laydate;//日期
    var laypage = layui.laypage; //分页
    var layer = layui.layer; //弹层
    var table = layui.table; //表格
    var form = layui.form;


    //执行一个laydate实例
    laydate.render({
        elem: '#endTime' //指定元素
    });

    //向世界问个好
    layer.msg('欢迎进入基金估值核算系统');

    //新增提交
    form.on('submit(addsubmit)', function(data){
        var formData=$('#addform').serialize();
        $.post("../springboot/insertXinxi",formData,function(msg){
            if(msg>0){
                table.reload('userTable');
                layer.closeAll();
                layer.msg('添加成功',{
                    title : '提示',
                    area : [ '200px',
                        '140px' ],
                    time : 0,
                    btn : [ '知道了' ]
                });
            }else{
                layer.closeAll();
                layer.msg('添加失败',{
                    title : '提示',
                    area : [ '200px',
                        '140px' ],
                    time : 0,
                    btn : [ '知道了' ]
                });
            }
        });
        return false;
    });
    //修改提交
    form.on('submit(editsubmit)', function(data){
        var formData=$('#editform').serialize();
        $.post("../springboot/updateXinxi",formData,function(msg){
            if(msg>0){
                table.reload('userTable');
                layer.closeAll();
                layer.msg('修改成功',{
                    title : '提示',
                    area : [ '200px',
                        '140px' ],
                    time : 0,
                    btn : [ '知道了' ]
                });
            }else{
                layer.closeAll();
                layer.msg('修改失败',{
                    title : '提示',
                    area : [ '200px',
                        '140px' ],
                    time : 0,
                    btn : [ '知道了' ]
                });
            }
        });
        return false;
    });
    //执行一个 table 实例
    table.render({
        elem: '#demo'
        ,height: 420
        ,url: '../market/selectMarket/' //数据接口
        ,title: '行情数据表'
        ,page: true //开启分页
        ,toolbar: '#toolbarDemo' //开启工具栏，此处显示默认图标，可以自定义模板，详见文档
        ,totalRow: true //开启合计行
        ,cols: [[ //表头
            {type: 'checkbox', fixed: 'left'}
            ,{field: 'marketId', title: '行情ID', width:120, sort: true, fixed: 'left', totalRowText: '合计：'}
            ,{field: 'securitiesId', title: '证券编号', width:120}
            ,{field: 'securitiesName', title: '证券名称', width: 130, sort: true, totalRow: true}
            ,{field: 'dateTime', title: '日期', width:120, sort: true}
            ,{field: 'openPrice', title: '开盘价格', width: 120, sort: true, totalRow: true}
            ,{field: 'closingPrice', title: '闭市价格', width:150}
            ,{field: 'desc', title: '备注', width: 200}
            ,{fixed: 'right', width: 165, align:'center', toolbar: '#barDemo'}
        ]]
    });
    //监听行工具事件
    table.on('tool(test)', function(obj){ //注：tool 是工具条事件名，test 是 table 原始容器的属性 lay-filter="对应的值"
        var data = obj.data //获得当前行数据
            ,layEvent = obj.event; //获得 lay-event 对应的值
        if(layEvent === 'del'){
            layer.confirm('真的删除行么', function(index){
                obj.del(); //删除对应行（tr）的DOM结构
                layer.close(index);
                //向服务端发送删除指令
            });
        } else if(layEvent === 'edit'){
            layer.msg('编辑操作');
        }
    });

    //分页
    laypage.render({
        elem: 'pageDemo' //分页容器的id
        ,count: 100 //总页数
        ,skin: '#1E9FFF' //自定义选中色值
        //,skip: true //开启跳页
        ,jump: function(obj, first){
            if(!first){
                layer.msg('第'+ obj.curr +'页', {offset: 'b'});
            }
        }
    });
});
</script>
</body>
</html>
