<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssaw.InventoryManagement.mapper.SecuritiesClosedPayInventoryMapper">

    <insert id="insertSecuritiesClosedPayInventory">

    </insert>

    <update id="updateSecuritiesClosedPayInventory">

    </update>

    <delete id="deleteSecuritiesClosedPayInventory">

    </delete>

    <select id="selectSecuritiesClosedPayInventory">

    </select>
</mapper>