<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssaw.InventoryManagement.mapper.TaInventoryMapper">
    <insert id="insertTaInventory" parameterType="com.ssaw.InventoryManagement.entity.TaInventory">
        insert into taInventory values (#{taInventoryId},#{fundId},#{tanum},#{tatotal},
        #{dateTime},#{securityPeriodFlag},#{taInventoryDesc})
    </insert>
    <update id="updateTaInventory">
        update taInventory set taInventoryDesc=#{taInventoryDesc},fundId=#{fundId},tanum=#{tanum},
        tatotal=#{tatotal},dateTime=#{dateTime},securityPeriodFlag=#{securityPeriodFlag}
         where taInventoryId=#{taInventoryId}
    </update>
    <delete id="deleteTaInventory">
        delete from taInventory where taInventoryId={taInventoryId}
    </delete>
    <select id="selectTaInventory" parameterType="java.util.Map" statementType="CALLABLE">
         {call pkg_tables.sp_select(#{p_tableName,mode=IN,jdbcType=VARCHAR},#{p_condition,mode=IN,jdbcType=VARCHAR},#{p_pageSize,mode=IN,jdbcType=INTEGER},#{p_page,mode=IN,jdbcType=INTEGER},#{p_count,mode=OUT,jdbcType=INTEGER},#{p_cursor,mode=OUT,jdbcType=CURSOR,javaType=ResultSet,resultMap=taInventoryMap})}
    </select>

    <resultMap id="taInventoryMap" type="com.ssaw.InventoryManagement.entity.TaInventory">
        <result property="taInventoryId" column="taInventoryId" javaType="String"></result>
        <result property="fundId" column="fundId" javaType="String"></result>
        <result property="tanum" column="tanum" javaType="Integer"></result>
        <result property="tatotal" column="tatotal" javaType="Double"></result>
        <result property="dateTime" column="dateTime" javaType="String"></result>
        <result property="securityPeriodFlag" column="securityPeriodFlag" javaType="Integer"></result>
        <result property="taInventoryDesc" column="taInventoryDesc" javaType="String"></result>
    </resultMap>

</mapper>