<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssaw.BusinessDescription.mapper.VarietiesRateMapper">


    <!--查询-->
    <select id="selectVarietiesRate" resultType="com.ssaw.BusinessDescription.entity.VarietiesRate">
        select exchangeName,rateType,stampDuty, transferFee,collectionRate,brokerage from varietiesRate
    </select>
    <!--删除-->
    <delete id="deleteVarietiesRate">
        delete from varietiesRate where exchangeName=#{exchangeName} and rateType=#{rateType}
    </delete>
    <!--增加-->
    <insert id="insertVarietiesRate">
        insert into varietiesRate(exchangeName,rateType,stampDuty,transferFee,collectionRate,brokerage)
        values(#{exchangeName},#{rateType},#{stampDuty},#{transferFee},#{collectionRate},#{brokerage})
    </insert>
    <!--修改-->
    <update id="updateVarietiesRate">
        update varietiesRate set stampDuty=#{stampDuty},transferFee=#{transferFee},collectionRate=#{collectionRate},brokerage=#{brokerage}
         where  exchangeName=#{exchangeName} and rateType=#{rateType}
    </update>
</mapper>