<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssaw.ReportManagement.mapper.DifferenceReportMapper">

    <select id="selectDifferenceReport" resultType="com.ssaw.BusinessData.entity.TransactionData" parameterType="com.ssaw.BusinessData.entity.TransactionData">
SELECT (CASE b.exchange WHEN 1 THEN '上海' WHEN 2 THEN '深圳' END)||
(CASE b.securitiesType WHEN 1 THEN '债券' WHEN 2 THEN '股票' END) AS exchangeName,
SUM(CASE a.flag WHEN 1 THEN netreceipts*flag END) AS godealmoney,
SUM(CASE a.flag WHEN -1 THEN netreceipts*flag END) comedealmoney,
SUM(totalsum*flag) AS totalsum,sum(securitys)as securitys
,sum(managements)as managements,
sum(commission)as commission ,sum(transfer)as transfer,sum(brokerage)as brokerage,sum(stamp)as stamp,
SUM(netreceipts*flag) AS netReceipts
FROM transactiondata a,securities b
WHERE a.fundId=#{fundId} AND to_char(a.datetime,'yyyy-MM-dd')=#{dateTime}
AND a.securitiesid=b.securitiesid GROUP BY b.exchange,b.securitiesType
UNION ALL
SELECT '俩地合计',SUM(CASE flag WHEN 1 THEN netreceipts*flag END) AS godealmoney,
SUM(CASE flag WHEN -1 THEN netreceipts*flag END) AS comedealmoney,SUM(totalsum*flag) as totalSum,sum(securitys)as securitys
,sum(managements)as managements,sum(commission)as commission,sum(transfer)as transfer,sum(brokerage)as brokerage,sum(stamp)as stamp,SUM(netreceipts*flag)as netReceipts
FROM transactiondata WHERE fundId=#{fundId} AND to_char(datetime,'yyyy-MM-dd')=#{dateTime}
    </select>
</mapper>